<head>
    <link rel="icon" type="image/x-icon" href="/img/favicon.png">
</head>

<header class="st-header q-pa-sm rounded-borders">
    <div class="row ">
        <div class="column  col-md-3  items-start">
            <img src="https://raw.githubusercontent.com/FrederikSchnack/Kilter.jl/cb5fdc3258b8341b865cee91254a0f6db9adc450/app/public/img/logo_grey.svg"/>
        </div>
        <div class="column col-md-4 items-start justify-end">
            <p id="grey-text"> A interactive web dashboard for <a href="https://github.com/FrederikSchnack/Kilter.jl"> <q-icon size="32px" name = "img:https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" />Kilter.jl</a>. </p>
        </div>
        <div class="column col-md-5 col-xs-12 items-center justify-center">
            <div class="row justify-end" >
            <q-toggle id="grey-text" v-model="mode" false-value="heatmap" true-value="selection"> Hold {{mode}} </q-toggle>
            <q-toggle id="grey-text" v-model="board" false-value="Homewall" true-value="Original"> Kilterboard {{board}} </q-toggle>
        </div>
    </div>
    </div>
</header>


<div class="row items-start justify-evenly">
    <div class="col-md-5 col-xs-12">
        <div class="row">
            <div class="col-md-3 col-sm-3">
                <q-avatar size="100px"><img v-bind:src="avatar_img" src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAiIHZpZXdCb3g9IjAgMCAyNCAyNCIgc3R5bGU9ImZpbGw6IHJnYmEoMCwwLDAsMC4xNSk7IHRyYW5zZm9ybTogc2NhbGUoMC43NSkiPgogICAgICAgIDxwYXRoIGQ9Ik04LjUgMTMuNWwyLjUgMyAzLjUtNC41IDQuNSA2SDVtMTYgMVY1YTIgMiAwIDAgMC0yLTJINWMtMS4xIDAtMiAuOS0yIDJ2MTRjMCAxLjEuOSAyIDIgMmgxNGMxLjEgMCAyLS45IDItMnoiPjwvcGF0aD4KICAgICAgPC9zdmc+" id="ite5j" /></q-avatar>
            </div>
            <div class="col-md-9 col-sm-8 ">
                <p>
                    <q-input v-model="username" debounce="750" label="Username" dark="">
                    </q-input>
                </p>
                <p id="white">{{user_text}}</p>
            </div>
        </div>
        <h3 id="white">Board angle </h3>
        <q-range v-model="board_angle" :min="0" :max="70" :step="5" markers="" label="" label-always="" :left-label-value="board_angle.min" :right-label-value="board_angle.max" dark=""></q-range>
        <h3 id="white">Climb difficulty </h3>
        <q-range v-model="grade" :min="10" :max="33" :step="1" markers="" label-always="" :left-label-value="grade_label.min" :right-label-value="grade_label.max" dark=""></q-range>
    </div>

    <div class="col-md-6 col-xs-12">
        <plotly :data="histo" :layout="histo_layout"></plotly>
    </div>

</div>

<div class="row">

    <div class="col-12">
        <q-table :columns="data.columns" :data="data.data" row-key="Name" :selection="&quot;single&quot;" :pagination="table_pagination" :selected.sync="climbs_selection" class="data_table">
        </q-table>
    </div>

</div>

<div class="row items-start">

    <div v-if="mode == 'heatmap'" class="col-md-6 col-xs-12">
        <plotly :data="heatmap" :layout="plot_layout" class="left_plot"> </plotly>
    </div>
    <div v-else="mode == 'selection'" class="col-md-6 col-xs-12">
        <plotly  :data="hold_plot" :layout="plot_layout" class="left_plot sync_hold_plot_data"> </plotly>
    </div>

    <div class="col-md-6 col-xs-12">
        <plotly :data="selection_plot" :layout="plot_layout" class="right_plot"> </plotly>
    </div>

</div>
