<header class="st-header q-pa-sm rounded-borders">
    <div class="row">
        <div class="col">
            <h1>Kilter.jl</h1>
            <p>A interactive web dashboard for <a href="https://github.com/FrederikSchnack/Kilter.jl">Kilter.jl</a>.
            </p>
        </div>
        <div class="col"></div>
        <div class="col"></div>
        <q-toggle v-model="board" false-value="Homewall" true-value="Original" id="ifeiu"> Kilterboard {{board}} </q-toggle>
        <div class="col"></div>
    </div>
</header>

<div id="i2rgv" class="row justify-evenly">

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
        <h3 id="i9m5a">Board angle </h3>
        <q-range v-model="board_angle" :min="0" :max="70" :step="5" markers="" label="" label-always="" :left-label-value="board_angle.min" :right-label-value="board_angle.max" dark=""></q-range>
        <h3 id="i9m5a">Climb difficulty </h3>
        <q-range v-model="grade" :min="10" :max="33" :step="1" markers="" label="" label-always="" :left-label-value="grade_label.min" :right-label-value="grade_label.max" dark=""></q-range>
        <h3 id="i9m5a">Selection of holds </h3>
        <plotly :data="side_plot_data" :layout="side_layout" class="side_plot sync_side_plot_data"></plotly>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4 self-center">
        <plotly  :data="plot_data" :layout="layout" class="main_plot" > </plotly>
    </div>

    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-4 self-center">
        <q-table :columns="climbs.columns_climbs" :data="climbs.data_climbs" row-key="Name" :selection="&quot;single&quot;" :selected.sync="climbs_selection" :pagination="table_pagination" class="data_table">
        </q-table>
    </div>
</div>